body{
    width: 100%;
    background-color: lightslategrey;
}

*p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: center;
    font-size: 15px;
}

.navbar{
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex
}
.navbar a{
  float: left;
  display: block;
  color: lightgray;
  text-align: center;
  padding: 14px 16px;
}
.navbar a:hover {
  background-color: lightgray;
  color: black;
}

.map{
    max-width: 50%;
    max-height: fit-content;
    position: absolute;
    float: left;
    padding: 30px; 
}

.pi{
    max-width: 50%;
    max-height: fit-content;
    position: absolute;
    float: right;
    padding: 30px;
}

.graph{
    max-width: 90%;
    max-height: fit-content;
    position: absolute;
    float: bottom;
    padding: 30px;
}